

.home {
  background: linear-gradient(0deg, #61b9cb, #b3d7f2 50%);
  flex-direction: column;
  justify-content: space-between !important;

  &__header {
    color: $color-darkblue;
    text-align: center;
    text-transform: uppercase;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 50vh;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__form {
    width: 100%;
    max-width: 720px;
    z-index: 2;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__title {
    font-size: 7.5rem;
    font-weight: 700;
  }
}
