@keyframes pulse {
  from { transform: scale(0.965); }
  to { transform: scale(1); }
}

@keyframes float {
  from { transform: translateY(8px); }
  to { transform: translateY(-8px); }
}

.home{
  background-image: $gradient;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint-laptop {
    max-height: 100vh;
  }

  &__header {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    z-index: 2;
  }

  &__preview {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height:300px;
    max-height: 300px;
    pointer-events: none;

    @include breakpoint-laptop {
      max-height: unset;
    }

    img {
      display: flex;
      width: 100%;
      object-fit: contain;
      object-position: center;

      animation-name: pulse;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  &__form {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 720px;
    z-index: 2;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__subtitle {
    font-size: 1.0rem;
    text-transform: uppercase;
    color: $color-darkblue;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-darkblue;
  }

  @include breakpoint-tablet {
    &__subtitle {
      font-size: 1.15rem;
    }

    &__title {
      font-size: 4.5rem;
    }
  }

  @include breakpoint-laptop {
    &__subtitle {
      font-size: 1.35rem;
    }

    &__title {
      font-size: 5.5rem;
    }
  }

  @include breakpoint-desktop {
    &__title {
      font-size: 7.5rem;
    }
  }
}
