.ui {
  min-height:100vh;

  @include breakpoint-tablet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__state {
    background-repeat: no-repeat;
    width: 100%;
    min-height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__notifications {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 150;
  }
}
