@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.tab {
  &--tuitorial {

  }
}

.tutorial-keys {
  display: flex;
  flex-direction: column;
}

.article .tutorial-key {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__name {
    display: block;
    align-self: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 0.75rem;
    min-width: 2.75rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-darkblue;
    border-radius: 3px;
    background: #dadada;
  }
  &__text {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    line-height: 1.75rem;
  }
}


.slick-dots {
  top:  100%;
  bottom: initial;

  li {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;

    &.slick-active {
      button:before {
        background: $color-magenta;
      }
    }

    button {
      position: relative;
      width: inherit;
      height: inherit;

      &:before {
        content: '';
        position: absolute;
        top: calc((2rem -  0.75rem) / 2);
        left: calc((2rem - 0.75rem) / 2);
        width: 0.75rem;
        height: 0.75rem;
        background: $color-darkblue;
        border-radius: 50%;
      }
    }
  }
}

.slick-slider {
  .slick-arrow {
    z-index: 10;
    top: 100%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    transform: none;

    &:before {
      color: $color-darkblue;
    }

    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }
}
