.tab {
  &--trophies {

  }
}

.trophy {
  opacity: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: $color-darkblue;
    font-weight: 700;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    color: $color-darkblue;
    border-radius: 50%;
    border: 2px solid $color-darkblue;
  }

  &--unlocked {
    opacity: 1;

    .trophy__icon{
      background: rgba($color-darkblue, 0.1);
    }

    &.trophy--difficulty-0 {
      .trophy__icon{
        color: $color-bronze;
        border-color: $color-bronze;
        background: rgba($color-bronze, 0.1);
      }
      .trophy__name{
        color: $color-bronze;
      }
    }

    &.trophy--difficulty-1 {
      .trophy__icon{
        color: $color-gold;
        border-color: $color-gold;
        background: rgba($color-gold, 0.1);
      }
      .trophy__name{
        color: $color-gold;
      }
    }

    &.trophy--difficulty-2 {
      .trophy__icon{
        color: $color-diamond;
        border-color: $color-diamond;
        background: rgba($color-diamond, 0.1);
      }
      .trophy__name{
        color: $color-diamond;
      }
    }
  }
}
