@import 'jmetterrothan-flexgrid/src/assets/sass/vars.scss';
@import 'jmetterrothan-flexgrid/src/assets/sass/breakpoints.scss';

.notification-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  li {
    width: inherit;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
  }
}

$notificationHeight: 3rem;
$notificationPadding: 1rem;

.notification {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: $notificationHeight + $notificationPadding * 2;
  font-family: $font;
  text-align: left;
  font-size: 1rem;
  background: #f1f1f1;
  padding: $notificationPadding;
  padding-left: $notificationHeight + $notificationPadding * 2;
  border-radius: 3px;

  &__icon {
    position: absolute;
    left: $notificationPadding;
    top: $notificationPadding;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $notificationHeight;
    height: $notificationHeight;

    span {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      font-size: 1.4rem;
    }
  }

  &__text {
    height: 100%;

    @include breakpoint-tablet {
      min-width: 250px;
    }
  }

  &__label {
    font-size: 1.0rem;
    font-style: italic;
    color: #757575;
    line-height: 1.5rem;
  }

  &__content {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
