.collaborator {
  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__fullname {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $color-darkblue;
  }

  &__links {
    display: flex;
  }

  &__description {
    font-size: 1.0rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-darkblue;

    &:hover {
      color: lighten($color-darkblue, 25%);
      transition: color ease 0.5s;
    }
  }
}
