$debug-row: rgba(20, 20, 20, 0.4);
$debug-col: rgba($debug-row, 0.4);

$color-magenta : #b0317a;
$color-darkblue : #2e3b49;

$gradient : radial-gradient(rgba(255, 255, 255, 0.25) 5%, transparent), linear-gradient(0deg, #61b9cb, #b3d7f2 75%);
