$debug-row: rgba(20, 20, 20, 0.4);
$debug-col: rgba($debug-row, 0.4);

$color-magenta : #b0317a;
$color-darkblue : #2e3b49;
$color-purple : #616dcb;
$color-skyblue : #b3d7f2;
$color-green: #00A388;
$color-red: #FC3C3C;

$gradient : radial-gradient(rgba(255, 255, 255, 0.25) 5%, transparent), linear-gradient(0deg, $color-purple, $color-skyblue 75%);
