$debug-row: rgba(20, 20, 20, 0.4);
$debug-col: rgba($debug-row, 0.4);

$color-magenta : #c53974;
$color-darkblue : #2e3b49;
$color-purple : #616dcb;
$color-skyblue : #b3d7f2;
$color-green: #02A676;
$color-red: #C9463D;
$color-yellow : #f1d600;

$gradient : radial-gradient(rgba(255, 255, 255, 0.25) 5%, transparent), linear-gradient(0deg, $color-purple, $color-skyblue 75%);
