@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cg8zrx');
  src:  url('fonts/icomoon.eot?cg8zrx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cg8zrx') format('truetype'),
    url('fonts/icomoon.woff?cg8zrx') format('woff'),
    url('fonts/icomoon.svg?cg8zrx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lifebuoy:before {
  content: "\e941";
}
.icon-users:before {
  content: "\e972";
}
.icon-bug:before {
  content: "\e999";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
