.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__status {
    display: flex;
    align-items: center;
    font-size:1.1rem;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  }

  &__messages {
    background: rgba($color-darkblue, 0.5);
  }

  &__container {
    width: 450px;
    max-width: calc(100% - 4rem);
    height: 100%;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
  }

  &__form {
    display: none;

    input {
      position: relative;
      appearance: none;
      width: 100%;
      outline: none;
      background: none;
      box-shadow: none;
      border: none;
      font-family: $font;
      line-height: 2rem;
      font-size: 1.1rem;
      padding: 0.25rem 1rem;
      color: #f1f1f1;
      font-weight: 400;
      background: rgba($color-darkblue, 0.5);
      border-radius: 3px;
      overflow: hidden;
    }


    ::-webkit-input-placeholder {
      color: #9fafbd;
    }
    ::-moz-placeholder {
      color: #9fafbd;
    }
    :-ms-input-placeholder {
      color: #9fafbd;
    }
    :-moz-placeholder {
      color: #9fafbd;
    }
  }

  &--active {
    .chat__messages {
      min-height: 2rem * 16;
      background: rgba($color-darkblue, 0.3);
    }
    .chat__form {
      display: block;
    }
  }
}
