// crosshair
$crosshairSize: 12px;
$crosshairThickness: 3px;
$crosshairGap: 3px;
$crosshairDot: hidden;
$crosshairColor: #1c242c;
$crosshairOpacity: 1;

$validColor: green;
$invalidColor: red;

.crosshair {
  $w : $crosshairSize * 2 + $crosshairThickness + $crosshairGap * 2;

  display: block;
  position: fixed;
  left: calc(50vw - #{$w / 2});
  top: calc(50vh - #{$w / 2});
  width: $w;
  height: $w;
  opacity: $crosshairOpacity;

  z-index: 100;

  &.shake {
    animation: shake 0.3s;
  }

  &.valid {
    span {
      background: $validColor;
    }
  }

  &.invalid {
    span {
      background: $invalidColor;
    }
  }

  span {
    display: block;
    position: absolute;
    background: $crosshairColor;

    &:nth-child(1) {
      top: $crosshairSize + $crosshairGap;
      left: 0;
      width: $crosshairSize;
      height: $crosshairThickness;
    }

    &:nth-child(2) {
      top: $crosshairSize + $crosshairGap;
      left: $crosshairSize + $crosshairGap * 2 + $crosshairThickness;
      width: $crosshairSize;
      height: $crosshairThickness;
    }

    &:nth-child(3) {
      top: 0;
      left: $crosshairSize + $crosshairGap;
      width:$crosshairThickness;
      height:$crosshairSize;
    }

    &:nth-child(4) {
      top: $crosshairSize + $crosshairGap * 2 + $crosshairThickness;
      left: $crosshairSize + $crosshairGap;
      width:$crosshairThickness;
      height:$crosshairSize;
    }

    &:nth-child(5) {
      top: $crosshairSize + $crosshairGap;
      left: $crosshairSize + $crosshairGap;
      width:$crosshairThickness;
      height:$crosshairThickness;
      visibility: $crosshairDot;
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) }
  10% { transform: translate(-1px, -2px) }
  20% { transform: translate(-3px, 0px) }
  30% { transform: translate(3px, 2px) }
  40% { transform: translate(1px, -1px) }
  50% { transform: translate(-1px, 2px) }
  60% { transform: translate(-3px, 1px) }
  70% { transform: translate(3px, 1px) }
  80% { transform: translate(-1px, -1px) }
  90% { transform: translate(1px, 2px) }
  100% { transform: translate(1px, -2px) }
}
