.button {
  &.reset {
    position: absolute;
    left: 1%;
    bottom: 4%;
    font-size: 1.5em;
    z-index: 300;
  }

  &.create {
    position: absolute;
    right: 1%;
    bottom: 8%;
    font-size: 1.5em;
    z-index: 300;
  }

  &.join {
    position: absolute;
    right: 1%;
    bottom: 4%;
    font-size: 1.5em;
    z-index: 300;
  }
}

.input {
  &.join {
    position: absolute;
    right: 1%;
    bottom: 4%;
    font-size: 1.5em;
    z-index: 300;
  }
}
