@import 'reset-css';

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

@import 'icomoon/style.css';

@import 'base/_base';

@import 'base/_grid';
@import 'base/_spacing';

@import 'form/_form';
@import 'form/_tooltip';

@import 'ui/_ui';

.title {
  font-family: $font;
}

h3.title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}
