@import '~react-tabs/style/react-tabs.css';
@import 'jmetterrothan-flexgrid/src/assets/sass/vars.scss';
@import 'jmetterrothan-flexgrid/src/assets/sass/breakpoints.scss';

.menu {
  background: rgba(0, 0, 0, 0.25);

  &__container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // max-width: 1024px;
    background:#f1f1f1;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-tablet {
      flex-direction: row;
    }
  }
}

.tab {
  margin: 2rem;
  height: calc(100% - 4rem);
}
