
.message {
  line-height: 1.5rem;
  font-size: 1.1rem;
  padding: 0.25rem 1rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

  &:first-child {
    padding-top: 1rem;
  }
  &:last-child {
    padding-bottom: 1rem;
  }

  &__username {
    font-weight: 700;
    color: $color-theme;
  }

  &__text {
    font-weight: 400;
  }

  &--user &__text {
    color: #f1f1f1;
  }
  &--system &__text {
    color: #c1cbd3;
    font-style: italic;
  }
}
