.ui-container.game {
  max-height: 100vh;

  &__overlay {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}

.overlay {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  position: relative;

  &__trophies {
    position: absolute;
    top: 0;
    right: 0;
    width:175px;
    font-size:1rem;
    color: #fff;
  }

  &__seed {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size:0.9rem;
    color: #fff;
  }

  &__online {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;
    font-size:1rem;
    color: #fff;
  }
}

.counter {
  font-size:1.25rem;
  font-weight: 700;
}

.progression {
  width: 100%;
  height: 12px;
  border-radius: 1px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);

  &__inner {
    max-width: 100%;
    height: inherit;
    background: rgba(255, 255, 255, 0.85);
  }
}


.pastille {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;

  &--red {
    background: #C9463D;
  }

  &--green {
    background: #02A676;
  }
}
