$crosshair-size : 18px;
$crosshair-thickness: 4px;
$crosshair-opacity : 0.95;

.crosshair.crosshair--circle {
  width: $crosshair-size;
  height: $crosshair-size;
  position: fixed;
  left: calc((100vw - #{$crosshair-size}) / 2);
  top: calc((100vh - #{$crosshair-size}) / 2);
  border: $crosshair-thickness solid #afafaf;
  border-radius: 50%;
  opacity: $crosshair-opacity;

  &.crosshair--can-place-object {
    border-color: $color-green;
  }
  &.crosshair--can-interact {
    border-color: $color-purple;
  }
  &.crosshair--can-remove-object {
    border-color: $color-yellow;
  }
  &.crosshair--no-action {
    border-color: $color-red;
  }
}
