@keyframes a1 {
  from { transform: scale(0.5); opacity: 0.5; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes a2 {
  from { transform: scale(0.5); opacity: 0.5; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes a3 {
  from { transform: scale(0.5); opacity: 0.5; }
  to { transform: scale(1); opacity: 1; }
}

.loading {
  background: $gradient;

  &__message {
    text-align: center;
    text-transform: lowercase;
    font-size: 1.75rem;
    font-weight: 700;
    color: $color-darkblue;
  }

  &__animation {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      width: 10px;
      height: 10px;
      transform: scale(0.5);
      opacity: 0.5;
      margin-right: 16px;
      border-radius: 100%;
      background: $color-darkblue;

      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(1) {
        animation-name: a1;
      }
      &:nth-child(2) {
        animation-name: a2;
        animation-delay: 0.5s;
      }
      &:nth-child(3) {
        animation-name: a3;
        animation-delay: 1s;
      }
    }
  }
}
