.trophies-tab {
  display: flex;
  flex-direction: column;

  .tab__header {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .tab__content {
    @include breakpoint-tablet {
      height: calc(100vh - 125px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.progression-reset {
  display: flex;
  flex-direction: column;

  .btn {
    align-self: flex-end;
  }
}
