@import 'jmetterrothan-flexgrid/src/assets/sass/vars.scss';
@import 'jmetterrothan-flexgrid/src/assets/sass/breakpoints.scss';

.btn {
  appearance: none;
  display: block;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 1.25rem;
  line-height: calc(3.5rem - 2px);
  height: 3.5rem;
  min-width: 150px;
  max-width: 100%;
  text-transform: uppercase;
  font-family: $font;
  font-size: 1.35rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: all ease .4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    pointer-events: none;
  }

  &--expand-mobile {
    width: 100%;

    @include breakpoint-tablet {
      width: initial;
    }
  }

  &--magenta {
    background: $color-magenta;
    color:#ffffff;

    &:hover {
      background: lighten($color-magenta, 10%);
    }
  }

  &--darkblue {
    background: $color-darkblue;
    color:#ffffff;

    &:hover {
      background: lighten($color-darkblue, 10%);
    }
  }

  &--red {
    background: $color-red;
    color:#ffffff;

    &:hover {
      background: lighten($color-red, 10%);
    }
  }

  &--green {
    background: $color-green;
    color:#ffffff;

    &:hover {
      background: lighten($color-green, 10%);
    }
  }

  &--yellow {
    background: $color-yellow;
    color:#ffffff;

    &:hover {
      background: lighten($color-yellow, 10%);
    }
  }

  &--purple {
    background: $color-purple;
    color:#ffffff;

    &:hover {
      background: lighten($color-purple, 10%);
    }
  }
}
