.btn {
  display: block;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 2.5rem;
  line-height: calc(3.5rem - 2px);
  height: 3.5rem;
  text-transform: uppercase;
  font-family: $font;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: all ease .4s;

  &--magenta {
    background: $color-magenta;
    color:#ffffff;

    &:hover {
      background: lighten($color-magenta, 10%);
    }
  }
}
