.form {
  ::-webkit-input-placeholder {
    color: $color-darkblue;
  }
  ::-moz-placeholder {
    color: $color-darkblue;
  }
  :-ms-input-placeholder {
    color: $color-darkblue;
  }
  :-moz-placeholder {
    color: $color-darkblue;
  }

  h4 {
    color: $color-darkblue;
    font-size: 1.2rem;
    font-weight: 400;
  }

  input[type=text], input[type=password] {
    appearance: none;
    display: block;
    width: 100%;
    height: 2.75rem;
    line-height: calc(2.75rem - 2px);
    padding: 0 1rem;
    border: 1px solid $color-darkblue;
    color: $color-darkblue;
    font-family: $font;
    font-size: 1.1rem;
    font-weight: 400;
    background: transparent;
    outline: none;
    border-radius: 4px;
    box-shadow: none;
  }

  input[type=radio] {
    display: none;

    & + label {
      display: block;
      width: 100%;
      border: 1px solid $color-darkblue;
      border-radius: 4px;
      padding: 0 1rem;
      height: 2.75rem;
      line-height: calc(2.75rem - 2px);
      text-transform: uppercase;
      font-family: $font;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color-darkblue;
      box-shadow: none;
      cursor: pointer;
      transition: all ease .2s;
    }

    &:checked + label {
      background: $color-darkblue;
      color: #ffffff;
    }

    &:not(:checked) + label:hover {
      background: rgba($color-darkblue, 0.25);
      border-color: transparent;
      transition: background ease .4s, border-color ease .2s;
    }
  }
}

.tooltip {
  position: relative;

  &__content {
    position: absolute;
    top: calc(0.75rem / 2);
    right: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: calc(2rem - 4px);
    border: 2px solid $color-darkblue;
    color: $color-darkblue;
    text-align: center;
    font-family: $font;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      color: lighten($color-darkblue, 5%);
    }
  }

  input[type=text], input[type=password] {
    padding-right: 4rem;
  }

  &__text {
    display: none;
    position: absolute;
    bottom: 3rem;
    left: calc(-325px / 2 + 2rem);
    width: 300px;
    background: $color-skyblue;
    color: $color-darkblue;
    border-radius: 3px;

    &:before {
      content:'';
      position: absolute;
      top: 100%;
      left: calc(325px / 2 - 1rem - 0.8rem);
      display: block;
      border: 0.8rem solid transparent;
      border-top-color: $color-skyblue;
    }

    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height:1.75rem;
      text-align: left;
    }

    p {
      font-weight: 300;
      font-size: 1.0rem;
      line-height:1.65rem;
      text-align: left;
    }
  }

  &__content:hover &__text {
    display: block;
  }
}
