@import 'jmetterrothan-flexgrid/src/assets/sass/vars.scss';
@import 'jmetterrothan-flexgrid/src/assets/sass/breakpoints.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $font;
  background-image: $gradient;
  overflow-x:hidden;
  max-width: 100vw;
  min-height: 100%;
}

@include breakpoint-tablet {
  html, #root, body {
    height: 100%;
  }
}
