.color {
  &-magenta {
    color: $color-magenta;
  }

  &-turquoise {
    color: $color-turquoise;
  }

  &-yellow {
    color: $color-yellow;
  }

  &-darkblue {
    color: $color-darkblue;
  }

  &-skyblue {
    color: $color-skyblue;
  }

  &-red {
    color: $color-red;
  }

  &-green {
    color: $color-green;
  }

  &-purple {
    color: $color-purple;
  }

  &-gold {
    color: $color-gold;
  }

  &-theme {
    color: $color-theme;
  }
}
